@charset "utf-8";
/* reset */

* {
  box-sizing: border-box;
}

ul, li { 
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  min-width: 320px;
  color: #111;
}

body, select, input {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: top;
}
